@model IEnumerable<OnlineBanking.DBModel.Transaction>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Narration)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.InitialBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Withdrawal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundTransferToAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Narration)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.InitialBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Withdrawal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundTransferToAccount)
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Search Again", "UserHomePage", "User")
    <br />
    @Html.ActionLink("Back to Home", "UserHomePage", "User")

</div>
